DATABASE_URL=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_HOST="localhost"
DATABASE_PORT=3306
SNOWFLAKE_EPOCH=1577836800000
SNOWFLAKE_WORKER_ID=1
SNOWFLAKE_DATACENTER_ID=1
JWT_SECRET= 
JWT_SECRET_REFRESH= 
REDIS_URL= 
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173